@import '/src/Global.scss';

.form {
  width: 42rem;
  display: flex;
  flex-direction: column;
  .form-header {
    font-family: $Alumni-Sans-font-family;
    color: $darker-green-color;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }
  .form-field {
    display: grid;
    align-items: center;
    gap: 1.25rem;
    grid-template-columns: 2fr 5fr;
    margin-bottom: 1.25rem;
    &__label {
      font-family: $Alumni-Sans-font-family;
      color: $darker-green-color;
      font-size: 2rem;
      font-weight: 900;
      font-style: bold;
      text-align: right;
    }
    &__input {
      height: 2rem;
      border: none;
      font-size: 1.5rem;
      font-family: $Oswald-font-family;
      padding-left: 0.6rem;
      &[type='file'] {
        height: 2.5rem;
        font-size: 1.25rem;
      }
    }
    &__sex-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    &__sex-inner-container {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &__sex-input {
      margin: 0;
    }
  }
  .form-links {
    display: flex;
    justify-content: end;
    gap: 3rem;
    .form-link {
      font-family: $Oswald-font-family;
      color: $dark-green-color;
      font-size: 1.3rem;
      font-weight: 400;
      text-align: center;
      text-decoration: underline;
      transition: all 0.2s linear;
      &:hover {
        color: $light-green-color;
      }
    }
  }
  .form-button {
    width: auto;
    margin: 2rem auto;
    padding: 0.5rem 0.75rem;
    border: $dark-green-color solid 0.125rem;
    border-radius: 0.4rem;
    background-color: $mint-color;
    font-family: $Comfortaa-font-family;
    font-weight: 700;
    font-size: 1.5rem;
    color: $dark-green-color;
    transition: all 0.2s linear;

    &:hover {
      background-color: $dark-green-color;
      color: $mint-color;
    }
  }
}
