@import '/src/Global.scss';

$min-avatar-size: 3rem;

.header {
  position: fixed;
  width: 100vw;
  height: $header-length;
  background: linear-gradient(155deg, $dark-green-color, $green-color);
  .header-overflow {
    height: 100%;
    max-width: 90rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20rem 1fr 20rem;
    align-items: center;

    .header-logo {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      margin: 0 1.25rem;
      &__image {
        height: calc($header-length - 0.625rem);
      }

      &__header {
        font-family: $Comfortaa-font-family;
        color: $white-green-color;
      }
    }

    .header-input-container {
      display: flex;
      position: relative;
      align-items: center;
      height: calc($header-length - 2rem);
      &__input {
        height: 100%;
        width: 20rem;
        border: 0.125rem solid $white-green-color;
        border-radius: 1.25rem 0 0 1.25rem;
        padding-left: 2rem;
        font-family: $Comfortaa-font-family;
        font-size: 1.5rem;
      }
      .header-input-clear-button {
        position: absolute;
        left: 20rem;
        height: calc($header-length - 2rem);
        width: calc($header-length - 2rem);
        padding: 0;
        border: none;
        background-color: transparent;
        padding-top: 0.1rem;
        &__clear-icon {
          height: 1.65rem;
          fill: $darker-green-color;
        }
      }
      .header-input-button {
        height: calc($header-length - 1.6rem);
        border-radius: 0 1.25rem 1.25rem 0;
        border: 0.125rem solid $white-green-color;
        border-left: none;
        background-color: $white-green-color;
        display: flex;
        align-items: center;
        &__search-icon {
          height: 1.65rem;
          fill: $darker-green-color;
          padding: 0 0.25rem 0.1rem 0.25rem;
        }
      }
    }

    .account {
      background-color: transparent;
      width: 20rem;
      gap: 1rem;
      position: relative;
      display: flex;
    }
    .account__avatar {
      margin: 0 auto;
      width: $min-avatar-size;
      height: $min-avatar-size;
      .account__avatar-overflow {
        height: 100%;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .account__avatar-overflow__image {
          min-height: $min-avatar-size;
          min-width: $min-avatar-size;
        }
      }
    }
    .account__name {
      background-color: transparent;
      font-family: $Comfortaa-font-family;
      font-size: 1rem;
      padding: 0;
      width: 15rem;
      color: $white-color;
      text-align: left;
      border: none;
      cursor: pointer;
    }
    .account__settings {
      display: none;
      position: absolute;
      background-color: $mint-color;
      width: 15rem;
      margin-left: calc(4rem - 0.625rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      z-index: 1;
      top: calc($header-length - 1rem);
    }
    .account__setting {
      color: $dark-green-color;
      font-family: $Comfortaa-font-family;
      font-size: 1rem;
      font-weight: 900;
      text-align: center;
      padding: 1rem;
      text-decoration: none;
      display: block;
      width: 100%;
      background-color: $lighter-mint-color;
      border: none;
      &:nth-child(2) {
        background-color: $mint-color;
      }
    }
    .account:hover .account__settings {
      display: block;
    }
    .account__setting:hover {
      background-color: $white-color;
    }

    .account-enter {
      width: 20rem;
      display: flex;
      justify-content: space-evenly;
      .account-enter__button {
        border: none;
        border-radius: 1em;
        padding: 0.75rem 1rem;
      }
      .account-enter__light {
        background-color: $mint-color;
        font-family: $Comfortaa-font-family;
        font-weight: 700;
        font-size: 1.25rem;
        color: $dark-green-color;
        transition: all 0.2s linear;
        &:hover {
          background-color: $dark-green-color;
          color: $mint-color;
        }
      }
    }
  }
}

@media (max-width: 64rem) {
  .header {
    .header-overflow {
      grid-template-columns: 6rem 1fr 20rem;
      .header-logo__header {
        display: none;
      }
    }
  }
}
