@import '/src/Global.scss';

$header-length: 4rem;

.header {
    height: $header-length;
    background: linear-gradient(155deg, $dark-green-color, $green-color);
    .header-overflow {
        height: 100%;
        max-width: 90rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .header-logo {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            margin: 0 1.25rem;
            .header-logo__image {
                height: calc($header-length - 0.625rem);
            }

            .header-logo__header {
                font-family: $Comfortaa-font-family;
                color: $white-green-color;
            }
        }

        .header-input {
            height: calc($header-length - 2rem);
            width: 25rem;
            border: 0.125em solid $white-green-color;
            border-radius: 1.25rem;
            padding-left: 2rem;
            font-family: $Comfortaa-font-family;
            font-size: 1.5rem;
        }

        .account {
            width: 20rem;
            display: flex;
            gap: 0.75rem;
            .account__avatar {
                height: calc($header-length - 0.625rem);
            }
            .account-settings {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .account-settings__name {
                    font-family: $Bellota-font-family;
                    color: $white-green-color;
                    font-size: 1.5rem;
                }
                .account-settings__quit {
                    font-family: $Bellota-font-family;
                    color: $white-green-color;
                    text-align: right;
                }
            }
        }

        .account-enter {
            width: 20rem;
            display: flex;
            justify-content: space-evenly;
            .account-enter__button {
                border: none;
                border-radius: 1em;
                padding: 0.75rem 1rem;
            }
            .account-enter__light {
                background-color: $mint-color;
                font-family: $Comfortaa-font-family;
                font-weight: 700;
                font-size: 1.25rem;
                color: $dark-green-color;
                transition: all 0.2s linear;
                &:hover {
                    background-color: $dark-green-color;
                    color: $mint-color;
                }
            }
        }
    }
}